*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}
.advert {
    margin: 50px;
    text-align: center;
}

html {
    box-sizing: border-box;

}

body {
    font-family: "Nunito", sans-serif;
    color: black;
    font-weight: 300;
    line-height: 1.6;
    background-color: beige; 
    }

.container {
    width: 100%;
    margin: 2rem auto; 
    }

.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 5vw);
    grid-gap: 1.5rem; 
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}
/* start of hover effect*/
#hover-effect {
    text-align: center;
    color: white;
    position: relative;
}
#hover-effect  {
    width: 100%;
    height: auto;
}

#hover-effect:after {
    width: 100%;
    position: absolute;
    left: 0;
    transition: .5s;

}
#hover-effect:after {
    content: '';
    height: 100%;
    top: 0;
    transition: .5s;
}

#hover-effect:hover::after {
    background: linear-gradient(to bottom, rgba(199,0,57,.01) 0, rgba(199,0,57,.25) 25%, rgba(199,0,57,.75) 75%, rgba(199,0,57,.95) 100%);

}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
/* end of hover effect*/
.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

}
.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}
.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}
.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}
.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}
.gallery__item--7 {
    grid-column-start: 9;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 4;   
}
.gallery__item--8 {
    grid-column-start: 9;
    grid-column-end: 14;
    grid-row-start: 4;
    grid-row-end: 6;
}
.gallery__item--9 {
    grid-column-start: 9;
    grid-column-end: 14;
    grid-row-start: 6;
    grid-row-end: 10;
}
.gallery__item--10 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 13;
}
.gallery__item--11 {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 13;
}
.gallery__item--12 {
    grid-column-start: 9;
    grid-column-end: 14;
    grid-row-start: 10;
    grid-row-end: 13;
}
.gallery__item--13 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 13;
    grid-row-end: 16;
}
.gallery__item--14 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 13;
    grid-row-end: 16;
}
.gallery__item--15 {
    grid-column-start: 9;
    grid-column-end: 14;
    grid-row-start: 13;
    grid-row-end: 18;
}
.gallery__item--16 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 16;
    grid-row-end: 21;
}
.gallery__item--18 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 16;
    grid-row-end: 21;
}
.gallery__item--17 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 18;
    grid-row-end: 21;
}
span {
    z-index: 2;
    position: absolute;
    color: transparent;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    transition: 0s;
}
span:hover {
    color: white;
}
p {
    color: black;
    background-color: rgb(208, 240, 240);
}